/*Stylesheet for Silly Lily's Haunted House's */

/* Global Style */
body{
    background-color:mediumpurple;
}

#container{
    display: flex;
    flex-direction: column;
}

header{
    display: block;
    width:100%
    height:150px;
    background-color: white;
    background-image:url("Haunted-Houses-1024x654.jpg");
    background position;align-content:center;
    background-size: 1220px;
    border: 2px dotted orange; 
    margin:0;
    padding:0;}


header h1 {
    color:purple;
    text-shadow: 1px 1px 1px orange;
    text-align: center;
    margin:50px;
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
}
nav{
    float: left;
    width: 100%;
    background-color: grey;
    margin:0;
    padding:0;
    clear: both;
    box-shadow:1px 1px 2px black;
} 

nav ul{
    margin:0;
    padding:0;
    list-style:none;
    color:white;
}

nav ul li {
    float: left;    
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px
}

nav ul li a:hover {
    background-color: blueviolet;   
}

nav .active{
    background-color: blueviolet; 
}

#content{
    display: flex;
    flex-direction: row;
}

.keepOpen{
    clear: both;
}

footer{
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    clear: both;
}


/* index.html style */
#imgMain{
    display:block;
    width:400px;
    margin:10px;
    height: 200px;
        border:5px pink outset;
    float: left;
    
    /*
    margin-top: 3px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    */
}
#h2-main{
    float: left;
    width:800px;
    clear: right;
    color:black;
    text-shadow: 1px 1px 10px white;
/*    margin-left: 10px;*/
    margin-left: 0px;
    margin-right: 0px;
}


#p-Main{
    float:left;
    width: 1000px;
    
}
img#s-silly{
    display:block;
    width: 400px;
    margin: 10px;
        float: left;
}
h2#h2-about{
   float:left;
    margin-top: 5px;
    margin-bottom: 0px;
    
}
p#p-about{
    float:left;
    width: 800px;
    margin-top:10px;
    clear: right;
}

/* produce.html */
#gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border:3px dotted white;
    width:100%;
   
}
figure{
    border:2px black outset;
    box-shadow: 1px 1px 2px black;
    background-color:darkblue;
    width: 300px;
    float: left;
    margin: 10px 15px;
    flex: 0 0 30%
    
        /*CSS Gradient*/
}

figure img{
    display: block;
    width: 250px;
    margin:10px auto;
    border: 2px inset black;
    
}

figcaption{
    text-align: center;
    margin-bottom: 10px;
    font-family:sans-serif;
}

#h-haunting {
    align-self: center;
}

/* contact.html */
h2#h2- contact{
    margin: 15px;
    float:left;
}
form#form-contact{
    margin-left: 15px;
    float:left;
}

form input{
    margin-bottom: 10px;
}

div#contact-content {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: column;
}
































