body{
    background-color:gray;
}

#container{
    display: flex;
    flex-direction: column;
}

header{
    display: block;
    width:100%
    height:150px;
    background-color: white;
    background-image:url("background%20plant.jpeg");
    background position;align-content:center;
    background-size: 1220px;
    border: 2px white;
    margin:0;
    padding:0;}


header h1 {
    color:lightblue;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin:50px;
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
}
nav{
    float: left;
    width: 100%;
    background-color: grey;
    margin:0;
    padding:0;
    clear: both;
    box-shadow:1px 1px 2px grey;
} 

nav ul{
    margin:0;
    padding:0;
    list-style:none;
    color:black;
}

nav ul li {
    float: left;    
}

nav ul li a {
    display: block;
    text-decoration: none;
    color:black;
    text-align: center;
    padding: 14px 16px
}

nav ul li a:hover {
    background-color: white;   
}

nav .active{
    background-color: white; 
}

#content{
    display: flex;
    flex-direction: row;
}

.keepOpen{
    clear: both;
}

footer{
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    clear: both;
}


#imgMain{
    display:block;
    width:400px;
    margin:10px;
    height: 200px;
        border:5px black outset;
    float: left;
  
}
#h2-main{
    float: left;
    width:300px;
    clear: right;
    color:white;
    text-shadow: 1px 1px 10px grey;
    margin-left: 1px;
    margin-right: 10px;
     font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
}


#p-Main{
    float:left;
    width: 100%;
    font-size: 1.3em;
    margin-top: 0;
    
}
img#profile{
    display:block;
    width: 400px;
    margin: 10px;
        float: left;
}
h2#h2-about{
   float:left;
    margin-top: 20px;
    font-family: cursive;
    margin-bottom: 10px;
    font-size: 2em;
    
    
}

h2.header{
     font-family: 'Amatic SC', cursive;
    color: pink;
    font-size: 3em;
}
p#p-about{
    float:left;
    width: 800px;
    margin-top:30px;
    clear: right;
}

#gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border:10px grey;
    width:100%;
   
}
figure{
    border:2px black outset;
    box-shadow: 1px 1px 2px black;
    background-color:gray;
    width: 300px;
    float: left;
    margin: 10px 15px;
    flex: 0 0 30%
    
}

figure img{
    display: block;
    width: 250px;
    margin:10px auto;
    border: 2px inset black;
    
}

figcaption{
    text-align: center;
    margin-bottom: 10px;
    font-family:sans-serif;
    color:aliceblue;
}

#profile {
    align-self: center;
}

#my-skills {
    display: flex;
    justify-content: center;
}

#my-awards {
    display: flex;
    justify-content: center;
}

.header {
    text-align: center;
}

h2.contact{
    margin: 15px;
    float:left;
     font-family: 'Amatic SC', cursive;
    color: lightblue;
    box-shadow: 1px 1px 2px black;
    font-size: 1.5em;
   
}
form#form-contact{
    display: flex;
    flex-direction: column;
    float:left;
    margin-left: 15px;
}

form input{
    margin-bottom: 10px;
    float: left;
}

div#map{
    margin-top: 0;
    margin-right: 20px;
    float: right;
}
div#contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    font-family: 'Amatic SC', cursive;
    color: lightblue;
    font-size: 1.5em;
}

.description {
    display: flex;
    flex-direction: column;
}
#BTNsend{
    width: 40%;
    height: 40px;
    margin:10px auto;
    
}

#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    
}

img{
    display: block;
    margin-top: 20px;
}



@media (max-width: 500px) {
    header h1 {
        font-size: 64px;
    }
    
    nav{
    float: none;
    width: 100%;
    background-color: grey;
    margin:0;
    padding:0;
    clear: both;
    box-shadow:1px 1px 2px grey;
} 

    nav ul{
    margin:0;
    padding:0;
    list-style:none;
    color:black;
    }

    nav ul li {
    float: none;    
    }

    nav ul li a {
    display: block;
    text-decoration: none;
    color:black;
    text-align: center;
    padding: 14px 16px
    }

    nav ul li a:hover {
    background-color: white;   
    }

    nav .active{
    background-color: white; 
    }

}

